.chart-container {
    width: 50%;
    height: auto;

    box-sizing: border-box;

    background: white;
    border-radius: 8px;
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    .chart-container {
        width: 80%;
    }
}

.chart-container .legend {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-container {
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px;
}

.tooltip-container .item {
    display: flex;
    flex-direction: row;
}

.tooltip-container .item > div {
    margin: 5px;
}

.chart-options-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 6px;
    background-color: #fff;
}

.chart-options-container .option-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 0;
}

.chart-options-container .option-item > input {

}

.chart-options-container .option-item > input {
    width: 50%;
}

.chart-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-message {
    margin: 15px;
    padding: 15px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 6px;
    background-color: #fff;
}

.error-message > div {
    margin: 5px;
}