.app-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(circle, #93d5b5, #43bdb8, #00a1c1, #0081c3, #275bb1);
}
